
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

.auth_page {
	background-color: #f5f5f5;
	height: 700px;
}

.auth_page h3 {
	padding-left:35%;
	padding-top: 3%;
	font-weight: bolder;
	font-size: 2rem;
}

.second {
	background:#ffffff;
	height: 500px;
	width: 50%;
	margin: 10% auto;
}

form {
	margin-top: -15%;
	margin-left: 10%;
	padding-top: 15%;
}

form label {
	font-weight: bolder;
	padding-left: 15%;
}
header {
	padding-left: 15%;
	padding-top: 5%;
}

input[type=text],input[type=email],input[type=password],input[type=tel]{
	width: 60%;
	margin-top: 2%;
	margin-left: 15%;
	font-size: 16px;
}


.default {
	background-color: #e6e600;
	color:#ffffff;
	width: 60%;
	height: 40px;
	border: 1px solid  #e6e600;
	font-weight: bolder;
	font-size: 20px;
	margin-left: 15%;
}

.next {
	margin-top: 3%;
	padding-left: 15%;
	font-size: 17px;
}


@media screen and (max-width: 576px){
	.auth_page {
		height: 450px;
		background-color: #f5f5f5;
	}

	.auth_page h3 {
		padding-left:35%;
		padding-top: 3%;
		padding-bottom: 3%;
		font-weight: bolder;
		font-size: 1rem;
	}


	.second {
		width: 80%;
		height: 350px;
	}

	input[type=email],input[type=password]{
		width: 80%;
		margin-top: 2%;
		margin-left: 10%;
		font-size: 16px;
	}


	form {
		margin-top: -15%;
		margin-left: 10%;
		padding-top: 10%;
	}



	.default {
		background-color: #e6e600;
		color:#ffffff;
		width: 80%;
		height: 40px;
		border: 1px solid  #e6e600;
		font-weight: bolder;
		font-size: 20px;
		margin-left: 10%;
	}
}

